<div *ngIf="courses.length > 0; else noCourses">
    List of courses
</div>
<ng-template>
    No courses
</ng-template>

<!-- The leading astrick which is for structural directives like if, for, switch 
    will rewrite the above template like so...
    astrick tells angular to rewrite with ng-template which is easier to write than
    manually writing the ng-template
-->

<ng-template [ngIf]="courses.length > 0">
    <div>
        List of courses
    </div>
</ng-template>
<ng-template [ngIf]="!(courses.length > 0)">
    No courses
</ng-template>