<mat-checkbox
    #showDetails
    [value]="2"
    checked="isChecked"
    (change)="onChange($event)"
    >Show details</mat-checkbox>
<!--<input type="checkbox" checked="checked" value="" change>-->

<div *ngIf="showDetails.checked">Some details...</div>

<mat-radio-group value="0"> <!-- How to select value by default -->
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="0">Female</mat-radio-button>
</mat-radio-group>

<br>

<mat-form-field>
    <mat-select [(ngModel)]="color"> <!-- How to select value by default -->
        <mat-option 
        *ngFor="let color of colors"
        [value]="color.id">{{ color.name }}</mat-option>
    </mat-select>
</mat-form-field>

<br>

<mat-form-field>
    <input 
        ngModel
        #username="ngModel"
        name="username"
        matInput placeholder="Username" required>
    <mat-hint>Type a unique username.</mat-hint>
    <span matSuffix>@domain.com</span>
    <span matPrefix>admin.</span>
    <mat-error *ngIf="username.invalid && username.errors.required">
        The username field is required.
    </mat-error>
</mat-form-field>

<br>

<mat-form-field>
    <textarea matInput matTextareaAutosize rows="2"></textarea>
</mat-form-field>

<br>

<mat-form-field>
    <input 
        (focus)="birthdate.open()"
        [min]="minDate"
        [max]="maxDate"    
    type="text" matInput [matDatepicker]="birthdate">
    <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #birthdate></mat-datepicker>
</mat-form-field>

<br>

<mat-icon>add_alert</mat-icon>
